[2017-05-06 01:51] rodjular opened #1 "Signature images in Inventory Forms"
Purchase Requistion & Stores Requisition - Prepare By and Approve By Signature
Purchase Order  - Prepare By and Approve By Signature
Issuance Slip - Preapred By Signature
Receiving Report - Preapred By Signature

  Image is added in RDLC as an external images. which provides flexibility.
  Update Syslib to expose LocalReport(RDLC) property.
  Signature folder is at  \Xml\Report\Signature\3001\
  S

[2017-05-06 09:28] rodjular opened #2 "Unable to re-use PRs with canceled PO. (Merged PR to single PO)"
Unable to use PR when PO was canceled. This only happens to PO with merged or multiple PR combined.

Fix
      edit VPurOrderRequestMerge add PurchaseOrderStatusId
	  modify Biz.IVS0290 on _purchaseRequestId validating event
	   If SD.HasRecords("VPurOrderRequestMerge", "PurchaseRequestId=" + CStr(e.ProposedValue), "bos") Then

[2017-05-06 09:30] rodjular opened #3 "Cancellation reason prompt."
Applied to all types of transactions. Reason will be appended on Remarks field.

[2017-05-06 09:34] rodjular opened #4 "Purchase Requisition-to load Qty-on-hand, last PR date and last RR date and quantity."
Previously working using item as PR. Affected due to by generic requisition enhancement.

[2017-05-06 09:38] rodjular opened #5 "VAT Computation handling based on vendor and item setup"
If Vendor is VATable
	   if item is tax exempt
	      no vat
	   else
	      compute vat
	else
	   all items are exempt regardless of item vat setup

[2017-05-06 09:41] rodjular opened #6 "Issuance Slip Format"
Added requested quantity to actual issued quantity.
Added unit cost (tentative cost based on average purchased price of the month)

[2017-05-06 09:42] rodjular opened #7 "Facility to create Issuance from Stores Requisition"
Restricted to Store keeper role only

[2017-05-06 09:45] rodjular opened #8 "Error in partial delivery of item(Goods Receipt/RR)"
Fixed.

SD.ExecuteScalar round off to ceiling. eg SQL returns 5.4, SD returns 6
SD.ExecuteDataTable - works fine

[2017-05-06 09:57] rodjular opened #9 "Restriction of Approval of PR made by Dept. Head."
Department head can only do submit for approval. GM will approve.

[2017-05-06 10:07] rodjular opened #10 "Email notification update (PO Approval and Dept Head PR submit for approval)"

[2017-05-06 10:08] rodjular opened #11 "Fix partial issuance of stores requisition"
Due to generic item ordering

[2017-05-06 10:09] rodjular opened #12 "Added generic name on RR and fixed tax comp from PO."

[2017-05-06 10:09] rodjular opened #13 "Production Entry from Item and Recipe"

[2017-05-06 10:10] rodjular opened #14 "Item Activity for Cost Center Item Console"
Added Cost Center for transferred-in and -out transaction

[2017-05-06 10:11] rodjular opened #15 "Transaction Monitor - Added column to distinguish ML and PR"

[2017-05-06 10:12] rodjular opened #16 "PO Revised format"
Dynamic signatories output.

[2017-05-06 10:12] rodjular opened #17 "Fixed error on RR when receiving merged PO"
Check auto issuance upon RR of merged PO.
Issues will be generated accordingly, though on print-out Direct Issue(Cost Center Issuance button on Goods Receipt) will appear.

[2017-05-06 10:20] rodjular opened #18 "PO Approval mechanism"
Purchaser cannot submit PO(from PR) greater than 10K.
FM will submit PO for approval of GM.

Purchaser can always submit ML to FM for approval with no restriction.

**Amount can be controlled via IvsControl

[2017-05-06 10:22] rodjular opened #19 "Non-Stock Flag on Item database"
To explicitly exclude item from inventor-able item(par-stock). Non-stock item will excluded from Consoles and reports.

[2017-05-06 10:23] rodjular opened #20 "RR Form and Direct Issue update"
Receiving report if direct issue(RR with Cost Center) will print Acknowledge By-Requesting Department on lower right portion of print-out

[2017-05-08 01:31] rodjular opened #21 "Report - Added Purchase Requisition Report and modified Purchase Order Report"
Please check..

[2017-05-08 01:33] rodjular opened #22 "Report - Fixed missing report header (Company name,title , filter and sorting)"
Please check.

[2017-05-08 01:34] rodjular opened #23 "Change Log - (sticky post)"
Removed arrival field(nuisance) in all inventory transaction logs.

[2017-05-08 02:01] rodjular opened #24 "Generic Name - Purchase Requisition"
Fix Purchase Requisition ability to PR item by generic name without existing linked item from item database.

Department can now create PR or ML by just a generic name.

[2017-05-09 08:18] Apbasanez opened #25 "Cannot Process P.O when Item has apostrophe"
![p o dont accept item with apostrophe](https://cloud.githubusercontent.com/assets/28379241/25841550/1c765072-34d3-11e7-9085-b9cfe9b40b35.jpg)

[2017-05-09 08:21] Apbasanez commented on #25
KG - Beef Tenderloin, Local, Whole, Jam's
   make it to
     KG - Beef Tenderloin, Local, Whole, Jam s

I already did change from the item maintenance dick, but the PR didnt change thats why we cannot proceed with the P.O. Kindly change muna manually since we still tried to change all the items with (') or can we make the system accept (') on the items?

[2017-05-09 14:22] rodjular commented on #25
![2017-05-09_221830 - copy](https://cloud.githubusercontent.com/assets/28424354/25855546/0c90bfa2-3506-11e7-9b6c-783f97d8d127.jpg)
I manage to find a solution without changing item name with apostrophe. You may still retain items with apostrophe.

I already updated the application. Please check tomorrow.

I also fix the truncate error on canceling PO. PO # 774 is already canceled.

[2017-05-10 06:34] Apbasanez commented on #25
Ok na Dick. Thanks. Di nalang natin i-close yung issue noh? para may tracing tayo?

[2017-05-10 06:34] #25 closed, assigned to rodjular

[2017-05-10 06:37] rodjular commented on #25
OK lang close. lipat lang naman sya sa Closed tab. Para maiwan sa Open mga on-going or unresolved items

[2017-05-10 06:45] Apbasanez commented on #18
Dick gusto ni GM na yung ma view only sa P.O Monitoring under submitted is lahat lang nang a-approbahan nya. Ngayon kasi kahit below 10k makikita parin nya under submitted P.O.

[2017-05-10 06:45] #18 closed, assigned to rodjular

[2017-05-10 06:54] Apbasanez opened #26 "Error when Printing P.O (merged P.R)"
![error when printing p o under merged pr](https://cloud.githubusercontent.com/assets/28379241/25886469/49c35134-3590-11e7-83cd-a2c3660296b7.jpg)

Hi Dick - magerror sya pag magprint ng P.O (merged P.R) ok lang yung ibang P.O pag hindi merged yung P.R. Thanks.

[2017-05-10 09:30] rodjular commented on #26
Error Fixed. Please check.

[2017-05-10 09:32] rodjular commented on #18
Additional filter to Jun sa Transaction Monitor and was told by Ms. Hon before I leave. I'm working on it. Will update you tomorrow. Thanks!

[2017-05-13 08:46] Apbasanez opened #27 "Cannot re-P.O cancelled PR."
![image](https://cloud.githubusercontent.com/assets/28379241/26024018/6caa9c62-37fb-11e7-949a-3b60e05b0edd.png)

Dick- please check P.O 592. I already cancelled the said P.O, but sir felix cannot re-P.O (see image error)

[2017-05-14 16:08] rodjular commented on #27
Hi Jun,
    I already update the patch on PO. Please check with Sir Felix. Thanks!

[2017-05-16 03:39] Apbasanez commented on #27
OK na Dick. Thanks.

[2017-05-16 03:40] #27 closed, assigned to rodjular

[2017-05-16 06:55] Apbasanez opened #28 "Error on Goods Receipts"
![image](https://cloud.githubusercontent.com/assets/28379241/26093226/8d723bdc-3a47-11e7-8e76-289ad0f9026d.png)

Hi Dick- please help. Thanks.

[2017-05-16 07:56] rodjular commented on #28
Jun,
The original design of RR is it should not accept same Item ID. Since it is allowed in PR and PO, I updated Goods Receipt to do the same. Inventory is already updated please check with Matet. Thanks!
Note: Exit and log off properly for the update to take effect.

[2017-05-16 08:14] #1 closed, assigned to rodjular

[2017-05-16 09:25] Apbasanez commented on #28
OK na dick as per Matet. Thanks.

[2017-05-16 09:25] #28 closed, assigned to rodjular

[2017-05-19 04:02] Apbasanez opened #29 "ML#925 P.O Basis"
Hi Dick - ask ko lang. If may check na yung ML Requisition means may P.O na?
![image](https://cloud.githubusercontent.com/assets/28379241/26232663/6008ff10-3c8a-11e7-9bab-ca78f0eaa97a.png)
 Yung ML#925 kasi sabi ng user e hindi nya daw o wala daw Cash Payment na checkbox sa ML nya, dapat daw ma-P.O na ni sir felix, but sir felix di na ma.P.O kasi naka cash basis daw. I checked the logs di ako sure

[2017-05-19 04:14] rodjular commented on #29
Jun,
     Approved na yung ML eh di na natin maibabalik yan unless i cancel na yung ML then i re PO. Part of the business rule na naincorporate natin sa program.  Baka aksidente na i click yung Cash Basis.

[2017-05-19 04:58] rodjular opened #30 "Issuance Report and Cost Transfer Report with Costing"
System updated. Please exit and log-out properly(super exit) for changes to take effect.

Both Report has date range filter and report option per transaction and by item. Both can be used in validating or supporting report for Store and Cost Center Variance Analysis.

Issuance Report  - Grouped by & can filtered by Cost Center.
Cost Transfer report -  Both source and target cost center cannot be e

[2017-05-19 06:17] Apbasanez commented on #29
Hi Dick - yes cancel nalang namin kaso wala akong rights to cancel as admin. Sino pwede maka-cancel? Thanks.

[2017-05-19 07:06] Apbasanez commented on #29
![image](https://cloud.githubusercontent.com/assets/28379241/26236790/b950f694-3ca4-11e7-8f92-3c716dd5a2d9.png)
 Dick hindi ko ma-cancel ang P.O. Thanks.

[2017-05-19 07:10] rodjular commented on #29
Basta may role ng DEPTHEAD. pwede ma cancel. but I also uncheck the NoDelete Support flag sa MR kaya pala di allow maka cancel. Exit and logout lang properly then. pa try i cancel.

[2017-05-19 07:45] Apbasanez opened #31 "Error in issuance report"
![image](https://cloud.githubusercontent.com/assets/28379241/26238085/24e70cd6-3caa-11e7-9c91-d3966f79d86c.png)

[2017-05-21 03:23] rodjular commented on #31
Hi Jun, Install mo lang ReportViewer v10. You my download it sa Microsoft website or baka meron na endorse sayo si Jenon na..

[2017-05-22 04:09] Apbasanez commented on #31
Ok na Dick. Akala ko na-installan ko na lahat ng PC ng reports viewer hehehe. Kala ko bugs. :)

[2017-05-22 04:09] #31 closed, assigned to rodjular

[2017-05-22 04:10] #29 closed, assigned to rodjular

[2017-05-22 04:10] #26 closed, assigned to rodjular

[2017-05-22 08:05] Apbasanez opened #32 "Show Form Tab on Inventory Transaction Monitor"
Hi Dick-Goodnoon,

Paano ishow yung Cost Transfer Tab Sa Inventory Transaction Monitor? or yung ibang Forms. Thanks
![image](https://cloud.githubusercontent.com/assets/28379241/26298092/7389dca0-3f08-11e7-937b-fb867560c8a9.png)

[2017-05-23 08:48] Apbasanez opened #33 "No Cost Transfers reflected for the Month of May"
![image](https://cloud.githubusercontent.com/assets/28379241/26346059/98640a1c-3fd7-11e7-839b-0ea2e852d012.png)
![image](https://cloud.githubusercontent.com/assets/28379241/26346067/9c7a9198-3fd7-11e7-9d3e-ac38cc80c645.png)

[2017-05-24 03:43] rodjular commented on #32
Jun,
    User must have a Cost Controller or Department Head role.

[2017-05-24 04:40] rodjular commented on #33
Jun,
    Issue already fixed. May kulang lang sa update ko. Pa check na lang with Ms.Kathy. Thanks!

[2017-05-25 03:40] Apbasanez opened #34 "Bugs on Good Receipts"
![image](https://cloud.githubusercontent.com/assets/28379241/26435024/d8dc9aba-413e-11e7-8eab-62b856da9844.png)

[2017-05-25 03:43] Apbasanez commented on #34
Hi Dick nawala rin yung Acknowledge By sa ibaba ng Godds Receipt printout ni Matet. Pls. check at pakibalik na rin. Thanks.
![image](https://cloud.githubusercontent.com/assets/28379241/26435100/679427b4-413f-11e7-830f-29fad8501d17.png)

[2017-05-25 03:56] rodjular commented on #34
Jun,
     Just tried it sa server working fine naman. Note that 'Acknowledge By ' will appear if may laman yung Cost Center (Direct Issue).
     Baka lang nag break yung program for some reason.
![rr1220](https://cloud.githubusercontent.com/assets/28424354/26435342/316cb712-4141-11e7-8e68-8a8cf03c973a.jpg)

[2017-05-25 06:53] Apbasanez commented on #33
Ok na Dick. Thanks.

[2017-05-25 06:53] #33 closed, assigned to rodjular

[2017-05-25 06:54] Apbasanez commented on #32
Ok Got it Dick. Thanks.

[2017-05-25 08:18] Apbasanez opened #35 "Wrong approving officer appear in PR"
![image](https://cloud.githubusercontent.com/assets/28379241/26441963/30711f0a-4165-11e7-8d0f-15f31fd4c951.png)

Hi Dick - please check approving of PR. Kay Abella Sharon yung lumalabas instead of Brian. Thanks.

[2017-05-25 08:19] Apbasanez commented on #32
Hi Dick, im trying to check the cost controller roles but the tab shown will be Purchased Order.

[2017-05-26 02:10] rodjular commented on #32
try mo dept head

[2017-05-26 02:14] rodjular commented on #35
String or binary data will be truncated - Reduce characters in remarks field. Extending char size is still on going. Default kasi si Ms Abella, Sharon in F& B Production anyway pag inapprove naman yan ni chef pa override din yung approval name.

[2017-05-26 08:39] Apbasanez opened #36 "Error when creating new Issuance"
![image](https://cloud.githubusercontent.com/assets/28379241/26487367/ce6af6f0-4231-11e7-97d9-1092063e6bba.png)

[2017-05-29 03:43] rodjular commented on #36
Hi Jun,
     Unsa Stores Requisition # nito?

[2017-05-29 03:48] Apbasanez commented on #36
Dick - everytime magcreate kami ng bagong issuance, mag appear yung error. Same din sa server. Thanks.

[2017-05-29 04:48] rodjular commented on #36
Jun, pa test ulet. May mga updates kasi ako. Let me know kung ok na.

[2017-05-29 05:09] rodjular commented on #36
pa log out properly(super exit) to take effect changes.

[2017-05-29 06:42] Apbasanez commented on #36
Ok na Dick. Thanks.

[2017-05-29 06:42] #36 closed, assigned to rodjular

[2017-06-02 08:38] Apbasanez opened #37 "Change fax # from P.O 8605 to 8603"
![image](https://cloud.githubusercontent.com/assets/28379241/26717948/cce2e4ca-47b1-11e7-8860-4d257e317676.png)

[2017-06-05 08:31] rodjular commented on #37
Hi Jun,
   8605 to 8603 or 8603 to 8605?

[2017-06-06 07:08] Apbasanez commented on #37
8605 to 8603 dick. 8605 kasi existing ngayon. Thanks.

[2017-06-07 01:53] Apbasanez commented on #37
change 8605 to 8603 dick. tanggalin natin yung 8605.

[2017-06-07 02:46] Apbasanez opened #38 "Cannot Update Month end Inventory"
![image](https://user-images.githubusercontent.com/28379241/26860068-7d531720-4b6e-11e7-83ed-8211d4ecb892.png)

[2017-06-07 03:54] rodjular commented on #37
Jun, update done. Pls check with Jospeh.

[2017-06-07 03:58] rodjular commented on #38
Hi Jun,
   Update done. Note that during month-end will take a while and screen will look not responding. Please patiently wait until 'Update done' prompt appears as confirmation that it is finished. Thanks!

[2017-06-09 03:29] Apbasanez opened #39 "Cannot Issue Tahini"
![image](https://user-images.githubusercontent.com/28379241/26960027-cac1cbc0-4d06-11e7-88e0-dd72d303a6b2.png)

Hi Dick- please help. paano i trace yung item counts.? Di Kasi namin ma issue yung tahini. Paano i check yung balance?

[2017-06-23 09:20] #38 closed, assigned to rodjular, yenohq

[2017-06-23 09:22] #37 closed, assigned to rodjular

[2017-06-23 09:23] #35 closed, assigned to nobody

[2017-06-23 09:26] #34 closed, assigned to rodjular

[2017-06-23 09:27] #32 closed, assigned to rodjular

[2017-06-24 07:43] Apbasanez opened #40 "Cannot Edit Qty on Goods Receipt"
Hi Dick please help. Di na namin ma edit yung qty sa good receipt. May inupdate kayo ngayon? Thanks.
![image](https://user-images.githubusercontent.com/28379241/27506805-b815bc90-58f3-11e7-89a6-540aa37e35e6.png)

[2017-06-24 08:22] #40 closed, assigned to rodjular

[2017-07-02 10:56] bltbersonda opened #41 "Storeroom Request - Unit"
Why does the purchase unit appear instead of the store unit?

![2017-07-02 18_48_03-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27769216-e362ad44-5f57-11e7-848a-7ae91559e8ec.png)
![2017-07-02 18_51_09-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27769217-e5acb69e-5f57-11e7-9a68-38879605365f.png)

[2017-07-03 09:51] rcjular commented on #41
Hi Chef. Will check on this. Purchase unit is to PR and Store Unit is to SR.

[2017-07-04 06:24] bltbersonda opened #42 "Inactive Items can be PR'ed"
When making a marketlist or PR, inactive items can be added. Should not be allowed.

![2017-07-04 14_18_56-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27817548-550bcb20-60c4-11e7-9518-432d7fda691d.png)
![2017-07-04 14_19_57-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27817561-698eced0-60c4-11e7-8445-b

[2017-07-04 13:59] bltbersonda opened #43 "Inactive Items can be used in Cost Transfers"
User was able to add items to the form even if the items were set to Inactive
![2017-07-04 21_54_31-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27833109-dfcab958-6103-11e7-9d25-4285c042e56a.png)

![2017-07-04 21_56_25-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27833127-fd60ce6c-6103-11e7-8208-291c49b

[2017-07-04 14:02] bltbersonda commented on #41
Thanks.

[2017-07-05 04:01] bltbersonda commented on #41
Dick, we discovered that the store unit ID is still used here because when lennard opens the request to make an issuance, Store Unit is used. So probably it is just the $string value (from PU) that is concatenated to the item name that's wrong when displaying the particulars in the Storeroom Request Form.

[2017-07-05 04:19] rcjular commented on #41
Chef, Yes. Its a concatenated string value of PU and Item name for Particulars(as item preference). Actually, it was patterned with PR thus the PU was used instead of SU which is wrong. I was on leave the past two days, I'm already working on this now and will give you update within the day. Thanks!

[2017-07-05 07:25] rcjular commented on #42
Hi Chef, generic does not maintain a status. Generic table is independent and does not inherits item status. We only link the generic id in the Item table. The only effect on PR of inactive item, is it will not be shown in Item Preference lookup (Particulars field).

[2017-07-05 07:52] bltbersonda commented on #42
Ok. This is safe. Purchaser cannot make PO w/o the specific item since it is disabled?

I have a similar issue on the Cost Transfer Form w/c may have a different effect on the database.

[2017-07-06 02:03] bltbersonda commented on #42
Dick, FYI, Item Preference lookup from the Particulars Field still displays inactive items.

[2017-07-06 03:14] rcjular opened #44 "Can't connect via teamviewer"
Jun, can't connect to teamviewer using 398871621. authentication rejected. same password pa rin ba, dii758?

[2017-07-06 03:32] rodjular commented on #42
Noted. Just waiting from Jun's reply. Can't connect via team viewer.

[2017-07-06 03:35] Apbasanez commented on #44
![image](https://user-images.githubusercontent.com/28379241/27894513-250793d8-623f-11e7-8aac-1d4dd21fff28.png)
 c264zf na new password dick. ty

[2017-07-06 05:18] rodjular commented on #42
FIX_20170706 were applied please check. Exit and log out properly for changes to take effect.

[2017-07-06 05:18] rodjular commented on #41
FIX_20170706 were applied please check. Exit and log out properly for changes to take effect.

[2017-07-06 05:20] rodjular commented on #43
FIX_20170706 were applied please check. Exit and log out properly for changes to take effect.

[2017-07-06 06:38] rodjular opened #45 "Email notification for PR and ML"
Jun,
    Upon checking PR. It's already sending notification except Market list Requisition which was already fixed. Paki monitor na lang.

[2017-07-06 08:54] bltbersonda commented on #41
Thanks for the update!

[2017-07-06 08:57] bltbersonda commented on #42
Thanks for the update.

When adding an inactive item, this appears after choosing from the Particulars
![2017-07-06 16_52_09-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27903481-16fe8b2a-626c-11e7-9ff4-11768e019fce.png)

NOTE: Dingdong is currently an inactive item

[2017-07-06 12:32] bltbersonda opened #46 "Cost Transfer Form Lookup"
Possible to use this lookup when searching for Items in the Cost Transfer Form?

![2017-07-06 20_14_36-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27910479-e7188dea-6287-11e7-98a0-7361c6cf5b99.png)

Then,
![2017-07-06 20_14_06-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27910495-01211068-6288-11e7-80f

[2017-07-06 12:39] bltbersonda opened #47 "Particulars Field in Storeroom Requset Form"
Possible to allow duplicates in the particulars field? Since item will be unique because they have different generic names.

![2017-07-06 20_11_35-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/27911109-77fa9766-628a-11e7-8110-1ecfd5e69f0e.png)

[2017-07-07 05:11] rodjular commented on #42
Hi Chef,
      Already patch Item preference lookup for particulars. please check.
![marketlis_particulars_lookup](https://user-images.githubusercontent.com/28424354/27943912-dc037a54-6297-11e7-8db2-4e147adbda45.PNG)

[2017-07-07 05:58] #41 closed, assigned to rodjular, bltbersonda

[2017-07-07 07:22] rodjular commented on #46
Update done. Please check. Exit and logoff properly for change to take effect.

[2017-07-07 07:28] bltbersonda commented on #46
That was fast! Thanks.

Dick, pahabol, can the list not be sorted by itemID? If possible, chronological order lang paginput when items are displayed. Easier for me to check when comparing to written submitted copy.

[2017-07-07 07:37] rodjular commented on #46
Pwede iclick yung column header Item Name then it will sort alphabetically (descending or ascending just toggle) same with lookup.

[2017-07-07 08:08] bltbersonda commented on #46
OK. But how to sort according to input? Better if list sequence is the same as inputted. See picture below for the written submitted copy.

![20170707_160330](https://user-images.githubusercontent.com/29772640/27948920-28290d54-632e-11e7-8ef4-6c0633bf5dc3.jpg)

I have to check kase this list compared to what was encoded. Pagna rearrange ang encoded list, ang hirap na i-check, very time consuming.

[2017-07-07 08:21] Apbasanez opened #48 "Error on Goods Receipt - Ever HRI Sales"
![image](https://user-images.githubusercontent.com/28379241/27949385-1b3e9832-6330-11e7-9115-a70432059a92.png)
![image](https://user-images.githubusercontent.com/28379241/27949395-2122cf16-6330-11e7-8c43-76ee8ff8743c.png)

Hi Dick - please check. Error yung ever hri sales pag mag RR kami.

[2017-07-07 09:09] bltbersonda opened #49 "Production using Recipes"
OBSERVATION:
We created a new Production for Gulaman, Green, Cooked. Based on definition of fields, Quantity = Batch Quantity. In this case, we were preparing 2 batches of the recipe Gulaman, Green, Cooked. See figure below. (I edited this in photoshop because we weren't able to get screenshots on the first run)
![2017-07-07 16_19_35-symphony cms 2 1 - city sports club cebu](https://user-images.gi

[2017-07-07 09:13] bltbersonda commented on #42
Thanks.

Issue is now closed.

[2017-07-07 09:13] #42 closed, assigned to rodjular, bltbersonda

[2017-07-07 09:14] bltbersonda commented on #43
Thanks.

This issue is now closed.

[2017-07-07 09:14] #43 closed, assigned to rodjular, bltbersonda

[2017-07-08 03:22] yenohq opened #50 "CAN'T SELECT "generic name ID#1957 (Sprite, Can) in store requisition under bistro bar"
Hi Dick,

Please double check how come bistro bar can't request item#1957 (Sprite, Regular, 330ml/can)
under generic name : Sprice, Can ID#1957.

User can't select the generic name, it says "entry rejected" she can't proceed with the storeroom requisition but she can transfer stock from different cost center.

Thank you.

[2017-07-10 02:50] yenohq opened #51 "Can't transfer stock from finance storeroom since Sat 7.8"
Hi Dick,

Please fix issues ASAP also S&G can't request mountain blast as generic yet can't select item to be requested same with the SPRITE issues.

Thank you.

[2017-07-10 04:02] rodjular commented on #48
Hi Jun, probably error occurred during the time of updating Symphony last friday. Ok naman na upon checking. Apparently, same error with issuance reported by Ms. Hon this morning which is already fixed. Pls check. Thanks!

[2017-07-10 04:23] rodjular commented on #50
Store for generic Sprite is Finance Receiving. I changed it to Finance Storeroom and it worked fine.

[2017-07-10 04:24] rodjular commented on #51
Pls. check store's generic setup. Refer to item #50

[2017-07-10 04:41] bltbersonda commented on #51
We are currently making sure that all F&B items in Symphony are set up correctly, for use in Purchasing, Recipes, Cost Transfers and POS. We are also eliminating duplicates, and setting up correct generic names.

Since July 1, we set to inactive all items that we have not yet checked.  As each item is requested from different departments, we correct the items' details and set it to ACTIVE.

Powera

[2017-07-10 04:53] rodjular commented on #49
Hi Chef, comments in bold. Thanks!

FIX:

Please fix quantity whether it is Batch Quantity or Total Yield.
     **>Quantity is in yield. (gulaman sample should be in cups). Recipe Production Yield is for reference only which serves as basis in computation of issuance(deduction) quantity.**

As we finish debugging, please disallow editing of the Quantity field as soon as Production is 'Saved' the f

[2017-07-10 06:52] bltbersonda commented on #49
Thanks for your reply.

Actually, sa sequence of inputting lang kami nagkamali. Better pala to add the items first (assigning specific items to generic) before putting in the Quantity. There ma compute nya ang actual issuance quantity. This is OK.

ENHANCEMENT:
We can currently edit the recipe. The previous posted pics the fields were disabled for editing kase posted na ung production. This is doa

[2017-07-10 08:03] Apbasanez commented on #48
Ok na Dick. Thanks.

[2017-07-10 08:03] #48 closed, assigned to rodjular

[2017-07-10 08:04] #44 closed, assigned to Apbasanez

[2017-07-10 09:28] bltbersonda opened #52 "Stores Requisition Lag"
Hi Dick,

There is a noticeable lag when opening and closing Store Request Form. Takes about 7 seconds to open and about 5 seconds to close (after approving).

Can this be corrected?

[2017-07-11 07:33] Apbasanez opened #53 "Cannot Cancel Cost Transfer"
![image](https://user-images.githubusercontent.com/28379241/28056107-3f992f32-664e-11e7-8ee7-236e6ed1d4ad.png)

[2017-07-11 07:59] rodjular commented on #53
Jun, I already extended particulars length. This will also fixed the intermittent error "String or binary data would be truncated."

[2017-07-11 07:59] rodjular commented on #53
Please check. Thanks!

[2017-07-13 03:10] bltbersonda opened #54 "Production Error - Portioning"
Dick,

We tried the Production (portioning). Received this error after inputting the quantity for the Portioned Chicken Thigh.

![2017-07-13 11_06_31-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/28148840-d2066cd6-67bb-11e7-9f2f-a5d59a787601.png)

[2017-07-13 03:12] bltbersonda opened #55 "Production Reports"
Dick,

What reports should we access to check:

1. Cost of production (price per yield)
2. Inventory movement (where the yield was added, and the ingredients that were subrtracted because of the production)

[2017-07-13 03:41] rodjular commented on #54
Hi Chef,
     Patch applied. Please exit and logoff to take effect. Thanks!
(FIX_20170713)

[2017-07-13 03:57] bltbersonda commented on #54
Thanks.

Production worked. But when I opened the production form, there was a new unnamed item that appeared.
![2017-07-13 11_55_08-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/28149731-5a255ba8-67c2-11e7-8333-5dcdb8f33c8b.png)

non-bearing issue?

[2017-07-13 04:07] bltbersonda opened #56 "Production-Recipe no Conversion"
See screenshots below.
![2017-07-13 12_01_45-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/28149900-a04128c8-67c3-11e7-8b10-e473a1f86c22.png)

after putting in values, conversions not applied.
![2017-07-13 12_03_10-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/28149904-ada9544a-67c3-11e7-891c-08a331d1727a

[2017-07-13 04:11] bltbersonda commented on #56
Sorry, issue corrected, hindi pa pala ko nilagyan ng value ang quantity.

Issue closed.

[2017-07-13 04:11] #56 closed, assigned to rodjular, bltbersonda

[2017-07-13 04:35] #11 closed, assigned to rodjular

[2017-07-13 04:36] #23 closed, assigned to rodjular

[2017-07-13 06:20] Apbasanez opened #57 "Error on Goods Receipt"
Hi Dick please help

![image](https://user-images.githubusercontent.com/28379241/28153125-5eb9f476-67d6-11e7-9395-4b650a12d848.png)

[2017-07-13 06:21] Apbasanez commented on #53
OK na to Dick Thanks.

[2017-07-13 06:21] #53 closed, assigned to rodjular

[2017-07-14 02:27] rodjular commented on #57
Anong action supposed to be gagawin niMatet? Mag save ba? print ng RR?

[2017-07-14 02:48] Apbasanez commented on #57
i cancel sana dick

[2017-07-14 06:13] rodjular commented on #57
Jun, fix applied. Exit and logout properly to take effect. Thanks!

[2017-07-14 09:26] yenohq opened #58 "Item Search @ actual inventory count posting & beg balances set-up"
Dick,

Please add "item search" button for actual inventory count posting & beg balances set-up.
It's time consuming to encode such counts per item.

ASAP please and thank you.

[2017-07-14 11:02] bltbersonda opened #59 "Storeroom / Cost Center Relationships"
Hi Dick,

Need clarification. See image below.

![2017-07-14 18_31_54-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/28209341-b487a4b8-68c4-11e7-8c5d-52eefda094d9.png)

My understanding is, all open forms on the screenshot all refer to B88 - Asian Lime Barbecue Ribs. However, the items in red rectangles can get confusing. I'd like to clarify the differ

[2017-07-15 03:14] #57 closed, assigned to rodjular

[2017-07-15 03:47] Apbasanez opened #60 "Error on Goods receipt distibution of Qty."
Hi Dick error yung item na broccoli once i distribute or hatiin ni matet yung qty nya. please check. TY
![image](https://user-images.githubusercontent.com/28379241/28236237-2d333f38-6953-11e7-8422-c4c4a7032ab6.png)

[2017-07-15 03:47] Apbasanez commented on #60
yung ibang item dick ok naman. yung brocolli lang talaga.

[2017-07-17 04:13] rodjular commented on #59
Hi Chef,

1. Cost Transfer - # 1, Store Request # 2 and Market List # 2
2. Yes in setting up. But can no.1 can still be overridden(no restriction yet in setup). Different Store Id in # 2 and # 1 will have an effect in Store Requisition - Issuance and PR-PO linking. Item will not be available in lookup or cannot be selected.
3. Purpose of generic table (# 2) were used by Stores Requisition, Purchas

[2017-07-17 07:30] bltbersonda commented on #59
Hi Dick,

Thanks for your clarification.

Further questions:
1. #3 is non-bearing when making a production? Meaning in making a production, #4 will be the the cost center where the ingredients will be subtracted and the yield will be added? As long as the Cost Center has the ingredients, they can make the production?
2. When making a production, Store Cost Center (#4) will be restricted to #1? or

[2017-07-17 08:45] rodjular commented on #59
1. Yes.
2. no 5 if item is for portioning. While if it is from Recipe(by generic) lookup restriction will be based on item's generic id.

[2017-07-17 08:51] rodjular commented on #60
Napansin ko parehas na Hot Kitchen yung 2 PR parehas from Hot Kitchen. I assume na may una ng RR ito and this is the second delivery. May I know yung details ng unang delivery?

[2017-07-17 08:52] rodjular commented on #58
Hi Miss, Hon. Working on it. Check ko rin yung problem ni Matet eh. Bukas tapos na to. THanks!

[2017-07-17 08:53] rodjular commented on #55
1. Production Report from Production Entry. button on the lower left of the window.
2. You may check Cost Center Item Console.

[2017-07-17 08:54] rodjular commented on #54
Yes. Thought I already delete item '?' . Will check it anyway.

[2017-07-17 09:58] bltbersonda commented on #59
Perfect! We can just encode 1 recipe w/c can be "produced" in different cost centers.

 Thanks.

Thread closed.

[2017-07-17 09:58] #59 closed, assigned to rodjular, yenohq, bltbersonda

[2017-07-17 10:19] bltbersonda commented on #55
Thanks.

For Production Report, is it possible to add Cost per Yield-Unit?

![2017-07-17 18_11_22-print preview](https://user-images.githubusercontent.com/29772640/28264129-1aec50d8-6b1c-11e7-942c-e56dcdcd1b3c.png)

[2017-07-18 07:52] Apbasanez commented on #60
![image](https://user-images.githubusercontent.com/28379241/28306200-fc87cfd6-6bd0-11e7-8f37-564db75c1b1e.png)

Dick eto daw yung 1st RR ni matet. Thanks

[2017-07-18 07:54] Apbasanez opened #61 "Cannot Issue Items on Storeroom"

[2017-07-18 07:58] Apbasanez commented on #61
Hi Dick,

Please help, Lenard cannot issue of the ff. items. Ice Cream(Mango, nestle Classic) & Capers in Vinegar(Capri, Dr. 600g/bottle). They said they have stock this July.
![image](https://user-images.githubusercontent.com/28379241/28306434-dda252c0-6bd1-11e7-836a-91415d601acd.png)

![image](https://user-images.githubusercontent.com/28379241/28306460-f4227c0a-6bd1-11e7-8c05-5959a19d6ec9.png)

[2017-07-18 08:11] rodjular commented on #61
Pa check ng item and generic setup
refer to #50

[2017-07-18 08:37] bltbersonda opened #62 "Recipe Double Items"
Hi Dick,

We noticed an error when making a production for Cheesecake. We opened the recipe and noticed that there were two entries for Rum and Food Flavor Vanilla. We tried deleting one and saved it. When we opened the recipe again, both items were deleted. We added it again, saved and opened again. again 2 duplicate
![2017-07-18 16_32_55-symphony cms 2 1 - city sports club cebu](https://user-ima

[2017-07-18 08:47] bltbersonda commented on #61
![2017-07-18 16_43_30-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/28308314-5f3e77f4-6bd8-11e7-9b64-a8e9ec180c1d.png)

[2017-07-19 03:59] rodjular commented on #61
ooopps Sorry. Kala ko sa setup. I assume sa qty may lumalabas na prompt. pwede makita yung prompt? I think may fix na ako dito. Thanks!

[2017-07-19 04:49] Apbasanez commented on #61
![image](https://user-images.githubusercontent.com/28379241/28351154-a90bfb9c-6c80-11e7-8dee-21d032566c9c.png)

![image](https://user-images.githubusercontent.com/28379241/28351159-b21ca92a-6c80-11e7-9c53-19d5ac84caf9.png)

[2017-07-19 04:49] Apbasanez commented on #61
![image](https://user-images.githubusercontent.com/28379241/28351172-c3582c32-6c80-11e7-8e6e-50d113f50dae.png)

[2017-07-19 05:59] rodjular commented on #55
Please check.
![prod_report_costperportion](https://user-images.githubusercontent.com/28424354/28352674-6261c12c-6c8a-11e7-854e-c315cbaf3635.JPG)

[2017-07-19 06:02] rodjular commented on #58
Hi Ms. Hon,
    Sorry for the delay. Update Done. Please check Beginning Balances and Actual Count entry for both store and cost center.
![actual_begbal](https://user-images.githubusercontent.com/28424354/28352781-f28cfc1c-6c8a-11e7-89c5-20515a61a971.JPG)

[2017-07-19 06:04] rodjular commented on #58
My term is a filter but will work as a search field as described in your requirements. Thanks and regards : )

[2017-07-19 06:47] rodjular commented on #61
Hi Jun, Ms. Hon. zero balance as per July, 2017 kaya entry rejected. Nag add na alng ako prompt which Lenard can continue by clicking Yes button. Same validation with Item Id.

[2017-07-19 06:48] rodjular commented on #61
Exit and logoff properly to take effect.

[2017-07-19 07:03] rodjular commented on #62
Hi Chef, Fixed. Pls Check. Thanks!

[2017-07-19 07:10] rodjular commented on #54
'?' - item deleted. Pls check.

[2017-07-19 07:33] Apbasanez commented on #61
May na RR daw dick sa july 5. Ma issue na ni lenard but yung UOM di magreflect.(see below image)
![image](https://user-images.githubusercontent.com/28379241/28355634-6f0a533c-6c97-11e7-9d84-f00adbe18e9b.png)
Then yung capers in vinegar na issue na ni lennard but walang price.

[2017-07-19 07:48] Apbasanez commented on #61
eto yung RR# Dick.
![image](https://user-images.githubusercontent.com/28379241/28356123-75a30ae8-6c99-11e7-8488-99c2eede3df2.png)
![image](https://user-images.githubusercontent.com/28379241/28356180-aeed9cfa-6c99-11e7-8d0f-218951cb3271.png)

[2017-07-19 11:00] bltbersonda commented on #55
Thanks.

Thread closed

[2017-07-19 11:00] #55 closed, assigned to rodjular, bltbersonda

[2017-07-20 03:37] rodjular commented on #61
Jun & Ms. Hon,
     Fix was already applied. Sa database side (view) ang problem. Paki check na lang po. Thanks!

[2017-07-20 10:43] bltbersonda commented on #62
Thank you.

We will give this a try. Thread considered closed.

[2017-07-20 10:43] #62 closed, assigned to rodjular, bltbersonda

[2017-07-20 10:48] bltbersonda opened #63 "Store Request - Double Generic in Lookup"
Hi Dick,

We noticed that in making a Store Request, when we search for a generic name, there are times when 2 identical generic names that appear. Will it make a difference w/c we choose? See attached screenshot.

![2017-07-20 18_42_07-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/28413852-ade6fdbe-6d7b-11e7-9a2c-161154e0df22.png)

In this particular

[2017-07-22 02:40] yenohq commented on #58
Noted Dick and hoping to have it before July will end.

[2017-07-22 02:40] #58 closed, assigned to rodjular

[2017-07-22 03:02] yenohq opened #64 "Beg Bal for production item at cost center"
Hi Dick,

Please give us your advise on how to get through with the postings of actual counts for items under production.

We already have the counts last April yet haven't entered it since items not found yet on the system.. just got it on June ending after the production entry is available to use.

Our concern is on the posting of actual counts. Can system allow us to set up another beginning ba

[2017-07-24 09:41] Apbasanez commented on #61
OK na Dick. Thanks.

[2017-07-24 09:41] #61 closed, assigned to rodjular

[2017-07-25 05:30] rodjular commented on #64
Hi Ms.Hon,
     First is recipe item should be tagged as an inventory item to enable account count entry. Pleas see attached pdf doc (How to create Production.pdf) to see step by step guide on doing this.
     Then, to keep it simple I enable search button on item list to enable Ms. Kathy to add produce item count. (see costcenteractualcountadditem.png for reference)

![costcenteractualcountaddite

[2017-07-25 05:31] rodjular commented on #64
![costcenteractualcountadditem](https://user-images.githubusercontent.com/28424354/28557183-81129b7a-713d-11e7-8e0f-09b1bf4b68e1.png)

[2017-07-25 06:22] rodjular commented on #64
Hi Ms. Hon,
   Update done. Please log-out properly to take effect.

[2017-07-25 07:04] yenohq commented on #64
Noted and thank you Dick.

*HONEYLENE Q. RODRIGUEZ*
Finance Manager
City Sports Club Cebu Inc.
Cardinal Rosales Ave., Cebu City
T  : (032) 415 8700 Local 200
M : 0917 637 3250
Email : finance.manager@citysportsclub.com

On Tue, Jul 25, 2017 at 2:22 PM, rodjular <notifications@github.com> wrote:

[2017-07-26 03:17] yenohq opened #65 "No Transaction (Receipts & Issuances) for PITA Bread 8" chef cuisine at Store Item Console"
Hi Dick,

Please check why Pita Bread Item has no transaction in store item console as receipts & issuances.
See attachment for reference.  Note also issuance at store requisition # 1169.

How long shall system allows for lacking quantity of item per requisition?

Thank you.

[Report at store Items console_07.26.17.docx](https://github.com/Symphony-CSCC/ivs_rcs/files/1175359/Report.at.store.Items.

[2017-07-26 03:35] Apbasanez opened #66 "Error printing P.O"
Hi Dick,

Please check error when printing P.O

![image](https://user-images.githubusercontent.com/28379241/28603357-14969f46-71f6-11e7-8681-01538ff4b975.png)

[2017-07-26 03:35] yenohq opened #67 "ML PO above 10K"
Hi Dick,

Please update the approval of PO.  As discussed with Ms. Mic... all ML PO is to be approved by me with assumption that bears small amount yet we really can't avoid that there are items or total amount of ML PO  is more than 10K specially meat items.  Thus, please amend ML PO procedure the same with the PR that all PO more 10K,  FM will submit for GM's approval.

Thank you.

[2017-07-26 06:01] rodjular commented on #66
Hi Jun,
    Fixed. Please check. thanks!

[2017-07-26 06:05] yenohq opened #68 "Error Encountered Upon Encoding of Actual Counts at cold kitchen with recipe"
Dick,

Kindly fix asap.. see attachment from Kathy.

Thank you.

[Input Cost Center Actual Counts to Cold Kitchen.docx](https://github.com/Symphony-CSCC/ivs_rcs/files/1175589/Input.Cost.Center.Actual.Counts.to.Cold.Kitchen.docx)

[2017-07-26 06:43] rodjular commented on #68
Ms.Hon,
     Ok na fix done. Please check with Ms.Kathy.

[2017-07-26 07:36] rodjular commented on #65
Hi Ms.Hon,
     Please check transaction date. All transactions date is under July period. Your viewing period of June.
![rr2059](https://user-images.githubusercontent.com/28424354/28609565-d6d83dd2-7217-11e7-9c8c-c0b0bb2a68d6.JPG)
![rr2601](https://user-images.githubusercontent.com/28424354/28609566-d6da26c4-7217-11e7-82b6-522090966a49.JPG)
![iss6355_sr1169](https://user-images.githubusercontent.

[2017-07-27 05:41] bltbersonda opened #69 "Cost Center for Recipes"
Hi Dick,

How do we add Bistro Bar, La Veranda Bar and Banquet Bar to the Recipe Module Cost Center?

![2017-07-27 13_29_02-symphony cms 2 1 - city sports club cebu](https://user-images.githubusercontent.com/29772640/28655885-28d811ca-72d1-11e7-9fee-ff70dfce430a.png)

[2017-07-27 06:05] rodjular commented on #69
Hi Chef,
    In Cost Center Maintenance, tick the production flag to add it at Recipe Definition form.
![costcentersetup](https://user-images.githubusercontent.com/28424354/28656449-a11adafc-72d4-11e7-9827-3fab8dccf110.JPG)

[2017-07-27 07:32] bltbersonda commented on #69
Thanks, Dick

@Apbasanez Please enable for Bistro Bar, Banquet Bar and La Veranda Bar.

Thanks.

[2017-07-27 07:56] Apbasanez commented on #69
Done Chef.

[2017-07-27 10:18] bltbersonda commented on #69
Thread closed. Thanks

[2017-07-27 10:18] #69 closed, assigned to Apbasanez, rodjular, bltbersonda

[2017-07-31 03:29] Apbasanez opened #70 "Error on Goods Receipt"
Hi Dick - please help. Nag error yung RR everytime i-open namin.

![image](https://user-images.githubusercontent.com/28379241/28761753-6f8947fa-75e3-11e7-96b2-964cf5c936dd.png)

[2017-07-31 03:46] yenohq opened #71 "Official Receipt (Store Items Console)"
Hi Dick,

Please check "official receipt" at store item console.  How come the quantity is negative as of July 31 yet they have received 100 pads last July 03 (see RR#2062)? Also it was not reflected on the good receipt report for the period July 01 - 04, 2017.

Hope you could fix this since we want accuracy of all reports for proper monitoring & decision making purposes.

[Goods Receipt Report_07

[2017-07-31 06:55] #66 closed, assigned to rodjular

[2017-07-31 07:00] rodjular commented on #71
It is a direct issue in Finance cost center hence not in Store Item Console. You may refer to Cost Center Item Console for direct issued items. If you need to put it as a store item you may need to update Goods Receipt and let cost center field blank.
![directissue](https://user-images.githubusercontent.com/28424354/28766178-ee5acadc-7600-11e7-8a10-1226f61be0b6.jpg)

[2017-07-31 07:10] rodjular commented on #70
Jun,
    Fixed. Exit and log off properly to take effect.

[2017-07-31 07:29] yenohq opened #72 "VAT Exempt Option at Purchase Order, Aside from the Vendor Maintenance or Item Set-up"
Hi Dick,

If possible to allow the purchasing have option to select if item is vatable during creation since if there are vendors selling non vat products.

Thank you.

[2017-07-31 07:34] #70 closed, assigned to rodjular

[2017-07-31 07:38] yenohq commented on #71
Hi Dick,

This is not a direct issue item, see store ID its under finance storeroom (Lennard) infact general cashier prepares store requisition and Lennard created issuance every requisition.  Beg balance also set -up under store room beg bal not at cost center.

Thank you.

[2017-08-01 03:35] yenohq opened #73 "Unseen Item When Posting Actual Counts @ Finance Storeroom"
Hi Dick,

Please check why the following items can't be seen upon posting of actual counts:
1)  ID#1966  -  Absolute Blue Vodka
2)  ID#1967  -  Absolute Citron Vodka
3)  ID#1969  -  Absolute Kurant Vodka
4)  ID#1686  -  Bean Sauce
5)  ID#1758  -  Food Color, Liquid, Blue

Per set-up these were at finance storeroom.. visible also at store item console.

Thank you.

[2017-08-03 01:24] rodjular commented on #73
I will update the Actual Count Form to allow adding of item to accommodate additional items.

[2017-08-03 01:27] rodjular commented on #72
Tax field is editable in PO creation. Simply put tax amount if necessary.

[2017-08-03 01:32] rodjular commented on #71
Ms. Hon, I'm sorry my explanation is incomplete. I'm referring to the Goods Receipt(RR) transaction. It is direct issue to Finance Cost Center. Please check RR2062, take a look at the cost center field it should be blank if it in store room. Regardless of the setup in Item Maintenance, Goods Receipts determines the receipt transaction nature of the item.

[2017-08-03 02:34] yenohq commented on #73
ok noted.. we need to post the said items before closing the july counts

thank you

*HONEYLENE Q. RODRIGUEZ*
Finance Manager
City Sports Club Cebu Inc.
Cardinal Rosales Ave., Cebu City
T  : (032) 415 8700 Local 200
M : 0917 637 3250
Email : finance.manager@citysportsclub.com

On Thu, Aug 3, 2017 at 9:24 AM, rodjular <notifications@github.com> wrote:

[2017-08-03 02:44] yenohq commented on #72
Noted and thank you.

*HONEYLENE Q. RODRIGUEZ*
Finance Manager
City Sports Club Cebu Inc.
Cardinal Rosales Ave., Cebu City
T  : (032) 415 8700 Local 200
M : 0917 637 3250
Email : finance.manager@citysportsclub.com

On Thu, Aug 3, 2017 at 9:27 AM, rodjular <notifications@github.com> wrote:

[2017-08-03 02:55] yenohq commented on #71
Hi Dick,

I saw the errors on this.

It was received as direct issue since Jess made the PR instead store
requisition.

What shall we do to correct the quantity on store console?

Thank you.

*HONEYLENE Q. RODRIGUEZ*
Finance Manager
City Sports Club Cebu Inc.
Cardinal Rosales Ave., Cebu City
T  : (032) 415 8700 Local 200
M : 0917 637 3250
Email : finance.manager@citysportsclub.com

On Thu, Aug 3,

[2017-08-04 09:28] #45 closed, assigned to Apbasanez

[2017-08-04 09:51] #30 closed, assigned to Apbasanez

[2017-08-04 09:58] #24 closed, assigned to nobody

[2017-08-04 10:21] yenohq opened #74 "Close Requisition - Unserved Quantity"
Hi Dick,

Please enable access of Lennard to close requisition function for items can't be served upon issuance. Would like to restrict that all requisition for the day should be closed on the day it was served so if there are items haven't accomodated.. then shall be close then to request the following day.

Thank you.

[2017-08-07 09:28] Apbasanez opened #75 "Error in creating new PR"
Hi Dick please check. Thanks.

![12](https://user-images.githubusercontent.com/28379241/29020792-bd4dd4f8-7b95-11e7-9bc7-30ee7757eddd.png)

[2017-08-07 10:17] Apbasanez commented on #75
Also sa Storeroom Requisition.
![image](https://user-images.githubusercontent.com/28379241/29022624-ae6b8a28-7b9c-11e7-8ee7-69ca4998163e.png)

[2017-08-07 10:35] Apbasanez opened #76 "Error in Saving RR"
![image](https://user-images.githubusercontent.com/28379241/29023178-2b58878c-7b9f-11e7-8b1a-d8f3015785fa.png)

[2017-08-07 10:54] rodjular commented on #75
Error Fixed. Please check.

[2017-08-07 14:34] rodjular commented on #73
Store Actual Count updated. Please check.

[2017-08-07 14:44] rodjular commented on #76
Jun, upon checking RR was already created. See attached.
![rr_po2370](https://user-images.githubusercontent.com/28424354/29031815-fcdd6bfc-7bc1-11e7-8477-d643b3a59a1c.JPG)

[2017-08-08 03:46] yenohq commented on #73
noted dick and thank you

*HONEYLENE Q. RODRIGUEZ*
Finance Manager
City Sports Club Cebu Inc.
Cardinal Rosales Ave., Cebu City
T  : (032) 415 8700 Local 200
M : 0917 637 3250
Email : finance.manager@citysportsclub.com

On Mon, Aug 7, 2017 at 10:34 PM, rodjular <notifications@github.com> wrote:

[2017-08-08 10:07] #76 closed, assigned to rodjular

[2017-08-08 10:07] #75 closed, assigned to rodjular

[2017-08-08 14:53] rodjular commented on #67
Hi Ms Hon and Jun,
     PO submission already updated. Please monitor. Thanks!

[2017-08-09 04:21] yenohq commented on #67
You mean the ML items above 10K?

*HONEYLENE Q. RODRIGUEZ*
Finance Manager
City Sports Club Cebu Inc.
Cardinal Rosales Ave., Cebu City
T  : (032) 415 8700 Local 200
M : 0917 637 3250
Email : finance.manager@citysportsclub.com

On Tue, Aug 8, 2017 at 10:53 PM, rodjular <notifications@github.com> wrote:

[2017-08-09 05:11] rodjular commented on #67
Yes Ms. Hon.

      From: yenohq <notifications@github.com>
 To: Symphony-CSCC/ivs_rcs <ivs_rcs@noreply.github.com>
Cc: rodjular <rodjular@yahoo.com>; Assign <assign@noreply.github.com>
 Sent: Wednesday, August 9, 2017 12:21 PM
 Subject: Re: [Symphony-CSCC/ivs_rcs] ML PO above 10K (#67)

You mean the ML items above 10K?

*HONEYLENE Q. RODRIGUEZ*
Finance Manager
City Sports Club Cebu Inc.
Cardinal

[2017-08-09 05:58] Apbasanez opened #77 "Production Report Error"
Hi Dick - please check production report.
![image](https://user-images.githubusercontent.com/28379241/29107024-be02b730-7d0a-11e7-89e1-f1cc94facf46.png)

[2017-08-09 11:21] yenohq commented on #67
It's working now.

Thank you.

*HONEYLENE Q. RODRIGUEZ*
Finance Manager
City Sports Club Cebu Inc.
Cardinal Rosales Ave., Cebu City
T  : (032) 415 8700 Local 200
M : 0917 637 3250
Email : finance.manager@citysportsclub.com

On Wed, Aug 9, 2017 at 1:11 PM, rodjular <notifications@github.com> wrote:

[2017-08-09 11:22] #67 closed, assigned to rodjular

[2017-08-14 03:17] Apbasanez opened #78 "SQL Server allocation"
Dick\Jen,

Eto yung server max ram ng SQL. Ilan yung i-allocate ko dito Dick?
![image](https://user-images.githubusercontent.com/28379241/29257096-e25283e2-80e1-11e7-97d8-13b247f845ca.png)
 Then sa database, ano yung pwede i delete na dito?
![image](https://user-images.githubusercontent.com/28379241/29257125-0d1993d6-80e2-11e7-8aa6-302b0d2925b5.png)

Bumagal kasi access namin sa server. Thanks.

[2017-08-14 08:46] Apbasanez commented on #77
Hi Dick - for followup please.

[2017-08-14 13:22] rodjular commented on #78
Jun,
    Set your total RAM 80 % sa SQL Server, 20% sa OS.

[2017-08-14 13:23] rodjular commented on #77
Jun,
   Fixed. Please check.

[2017-08-14 13:32] rodjular commented on #74
Jun, Ms. Hon,
     To give access in closing requisition add Stock Officer role in Lenard's use profile.

[2017-08-15 06:22] #78 closed, assigned to rodjular

[2017-08-22 06:23] rcjular commented on #73
Hi Ms. Hon,
     Please see attached.
![storeactualcount](https://user-images.githubusercontent.com/25901932/29551467-64a25b9c-8745-11e7-88c3-1a49625b082c.JPG)

[2017-08-26 05:52] Apbasanez opened #79 "Cost Center Actual Count Document Not Found"
Hi Dick - dick nag encode kami sa hot kitchen na cost center actual count, makita namin na posted pero once i-open namin sabi nya Document Not Found Daw. Please check. Thanks.

![image](https://user-images.githubusercontent.com/28379241/29738994-769b34ea-8a65-11e7-9b38-261d578aa84c.png)

![image](https://user-images.githubusercontent.com/28379241/29738996-80f0a420-8a65-11e7-8ee8-96eb151e440b.png)

[2017-08-29 03:10] Apbasanez commented on #79
Hi Dick Follow-up ko lang. Thanks.

[2017-08-29 06:58] rcjular commented on #79
Hi Jun. Will check. Download ko database nyo.

[2017-08-29 07:09] Apbasanez commented on #79
Ok dick.

JHUN P. BASAÑEZ

Network & Systems Administrator

CITY SPORTS CLUB, CEBU

Cardinal Rosales St.

Cebu Business Park Cebu City

T: 63 32 4158700 loc 613

F: 63 32 4158605

M: 63 942 8684231|

E: apbasanez@citysportsclub.com

www.citysportsclub.com

https://docs.google.com/uc?export=download&id=0B_5UPJ3bARw4QkRyOHVwc3djeGM&revid=0B_5UPJ3bARw4K2RLd080cEtSNjJxM0xNV1JCcFJPSXhHeTVjPQ

"from sim

[2017-08-30 07:16] rcjular commented on #79
Hi Jun,
    Fixed. Please check.

[2017-08-31 03:09] #79 closed, assigned to rodjular

[2017-08-31 03:09] #77 closed, assigned to rodjular

[2017-08-31 07:30] rcjular commented on #72
Hi Ms. Hon,
      Tax calculation restriction activated. Please check.

[2017-10-12 06:28] bltbersonda commented on #52
Hi Dick,

Can we possibly look into this? We noticed that the lag has now increased to about 20 seconds already before we can open a Store Request form

[2017-10-13 02:26] rodjular commented on #52
Hi Chef,
     Already made some optimizations in stores requisition query. Please check medyo pas pas na. ; )

      From: bltbersonda <notifications@github.com>
 To: Symphony-CSCC/ivs_rcs <ivs_rcs@noreply.github.com>
Cc: rodjular <rodjular@yahoo.com>; Assign <assign@noreply.github.com>
 Sent: Thursday, October 12, 2017 2:28 PM
 Subject: Re: [Symphony-CSCC/ivs_rcs] Stores Requisition Lag (#52)

Hi

[2017-10-28 05:43] #52 closed, assigned to rodjular, bltbersonda

[2017-11-09 08:45] Apbasanez opened #80 "Entry Rejected when adding Items"
Hi Jane Entry rejected when adding new items from Finance Storeroom. See below screenshots. Thanks.

![image](https://user-images.githubusercontent.com/28379241/32596039-e8924c54-c56c-11e7-9e24-c98837b6d767.png)

![image](https://user-images.githubusercontent.com/28379241/32596062-fab28f7a-c56c-11e7-9a21-9fc095e518a1.png)
![image](https://user-images.githubusercontent.com/28379241/32596077-05782cb

[2018-03-12 02:57] Apbasanez opened #81 "Error when opening Storeroom Requisition"
![image](https://user-images.githubusercontent.com/28379241/37263581-bc74da74-25e3-11e8-8682-feecd2280fb6.png)

[2018-03-12 03:01] Apbasanez commented on #81
Ok na Jen\Jane. Please discard. Thanks.

[2018-03-12 03:01] #81 closed, assigned to CrevelJane